.pf-navbar-main {
    background-color: var(--secondary-bg);
    position: fixed;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: 500ms ease;
}
.pf-navbar-main.scroll {top: 0;box-shadow: var(--box-shadow);}
.pf-navbar{background: var(--primary-color);border-radius: 50px;}
.nav-ul {
    list-style: none;
    padding: 5px 20px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
}
.nav-ul li {border-bottom: 1px solid transparent;}
.nav-ul a:hover{
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.rgt-nav {
    display: flex;
    grid-gap: 30px;
}
.rgt-nav a {
    color: #fff;
}
a.nav-cv {
    background: var(--secondary-color);
    border-radius: 50px;
    padding: 5px 20px;
    color: var(--primary-color);
    font-weight: 600;
    border: 1px solid transparent;
}
a.nav-cv:hover{
    background: transparent;
    color: var(--secondary-bg);
    border: 1px solid var(--secondary-bg);
}