@import url('https://fonts.googleapis.com/css2?family=Liter&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  font-size: 16px;
  line-height: 1.7rem;
  --primary-color: #0A2540;
  --secondary-color: #FAAD1B;
  --secondary-bg: #fff;
  --primary-text-color: #252525;
}
body {
    font-family: "Liter", sans-serif;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p, a, li{
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
}

/* Container */

 .container {
  max-width: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
   .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
   .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
   .container {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
   .container {
    max-width: 1300px;
  }
}
