@import url('https://fonts.googleapis.com/css2?family=Liter&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  font-size: 16px;
  --primary-family: "Liter", sans-serif;
  --secondary-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  --primary-color: #0A2540;
  --secondary-color: #FAAD1B;
  --secondary-bg: #fff;
  --primary-text-color: #252525;
  --box-color: #F5F5F5;
  --hr-color: #e0e0e1;
  --box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
  --section-padding: 60px 0;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: "Liter", sans-serif;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
p, a, li{
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
}
a{text-decoration: none;}
h1{
  font-size: 4rem;
  line-height: 3rem;
  margin: 0;
  margin-bottom: 40px;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}
h4{
  font-size: 1.5rem;
}

/* Hero Section */

.portfolio-hero{
  background-color: #F5F0E1;
  height: 100vh;
  display: flex;
  align-items: center;
}
.pf-head-grid{
  display: grid;
  grid-template-columns: 650px 1fr;
  align-items: center;
  grid-gap: 20px;
}
.greeting-msg{
  font-size: 2rem;
}
.hero-name{
  text-decoration: underline;
  color: var(--primary-color);
}
.hero-description{
  width: 90%;
  font-size: 1.05rem;
}
.hero-cta-grid{
  display: inline-grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,auto);
}
.view-resume {
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 12px 4px 14px 3px;
  color: #F5F0E1;
  font-size: 1.3rem;
  display: block;
  border: 0 solid;
  border-color: var(--secondary-color);
  position: relative;
  line-height: 0;
  box-shadow: var(--box-shadow);
}
.view-resume span {
  background: var(--primary-color);
  margin: 0;
  border-radius: 50px;
  padding: 6px 30px;
}
.view-resume::after{
  content: url(./assets/arrow-icon.png);
  background: #fff;
  border-radius: 30px;
  padding: 6px 7px;
  margin-left: 7px;
}
.ghost-cta{
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 50px;
  padding: 8px 30px;
  font-size: 1.3rem;
  display: inline-block;
  border: 1px solid;
  border-color: var(--primary-color);
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
.hero-cta-grid{
  margin-top: 40px;
}

/* About Section */

.pf-about-section{
  background-color: #0A2540;
}
.pf-about-grid{
  display: grid;
  grid-template-columns: 600px 1fr;
  align-items: center;
  grid-gap: 40px;
}
.about-title {
  color: #fff;
  display: flex;
  align-items: center;
}
.about-title:before {
  content: '';
  display: block;
  width: 30px;
  border-top: 2px solid var(--secondary-color);
  margin-right: 10px;
}
.about-desc{color: #fff;}
.about-exp-flex {display: flex;}
.about-experience{margin-right: 40px;}
.exp-count {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}.exp-count-sub {
  margin: 0;
  font-weight: lighter;
  color: #fff;
  font-size: 0.9rem;
}
.pf-about-section .ghost-cta{
  color: #fff;
  border-color: var(--secondary-color);
}

/* Education & Work */

.pf-education{
  padding: var(--section-padding);
  background-color: var(--secondary-bg);
}
.pf-edu-title {
  justify-content: center;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.pf-edu-title:after {
  content: '';
  display: block;
  width: 30px;
  border-top: 2px solid var(--secondary-color);
  margin-left: 10px;
}
.pf-edu-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 40px;
}
.education-box, .work-box{
  background-color: var(--box-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.pf-edu-grid h4{
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--hr-color);
  padding-bottom: 15px;
}
.edu-box-title:before{
  content: url(./assets/education.svg);
  margin-right: 15px;
}
.work-box-title:before{
  content: url(./assets/work.svg);
  margin-right: 15px;
}
.pf-edu-grid p{margin: 0;}
.exp-ctn-wrap {
  padding: 10px 0 10px 20px;
  margin-top: 30px;
  border-left: 3px solid var(--hr-color);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}
p.batch-sub-title {
  grid-column: span 2;
}
p.year-title{
  color: #888;
  text-align: right;
}
p.batch-title{
  font-weight: 600;
  font-size: 1.5rem;
  font-family: var(--primary-family);
  margin: 0;
}

/* Container */

 .container {
  max-width: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
   .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
   .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
   .container {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
   .container {
    max-width: 1300px;
  }
}
