@import url('https://fonts.googleapis.com/css2?family=Liter&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  font-size: 16px;
  --primary-family: "Liter", sans-serif;
  --secondary-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  --primary-color: #0A2540;
  --secondary-color: #FAAD1B;
  --secondary-bg: #F5F0E1;
  --primary-text-color: #252525;
  --box-color: #F5F5F5;
  --hr-color: #e0e0e1;
  --box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
  --section-padding: 60px 0;
  --spin-trans-zoomin: rotate(0deg) scale(0.9);
  --spin-trans-zoomout: rotate(180deg) scale(1.1);
  --grid-2-col: repeat(2, 1fr);
  --profile-img-width: 572px;
  --profile-img-height: 496px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
    font-family: "Liter", sans-serif;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
p, a, li{
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
}
a{text-decoration: none;}
h1{
  font-size: 4rem;
  line-height: 3rem;
  margin: 0;
  margin-bottom: 40px;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}
h4{
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
  margin: 0;
}

/* Hero Section */

.portfolio-hero{
  background-color: var(--secondary-bg);
  height: 100vh;
  display: flex;
  align-items: center;
}
.portfolio-hero h2{line-height: 2rem;}
.pf-head-grid{
  display: grid;
  grid-template-columns: 650px 1fr;
  align-items: center;
  grid-gap: 20px;
}
.greeting-msg{
  font-size: 2rem;
}
.hero-name{
  text-decoration: underline;
  color: var(--primary-color);
}
.hero-description{
  width: 90%;
  font-size: 1.05rem;
}
.hero-cta-grid{
  display: inline-grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,auto);
}
.view-resume {
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 11px 4px 14px 3px;
  color: var(--secondary-bg);
  font-size: 1.3rem;
  display: block;
  border: 0 solid;
  border-color: var(--secondary-color);
  position: relative;
  line-height: 0;
  box-shadow: var(--box-shadow);
}
.view-resume span {
  background: var(--primary-color);
  margin: 0;
  border-radius: 50px;
  padding: 6px 30px;
}
.view-resume::after{
  content: url(./assets/arrow-icon.png);
  background: var(--secondary-bg);
  border-radius: 30px;
  padding: 6px 7px;
  margin-left: 7px;
}
.ghost-cta{
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 50px;
  padding: 8px 30px;
  font-size: 1.3rem;
  display: inline-block;
  border: 1px solid;
  border-color: var(--primary-color);
  font-weight: 600;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.hero-cta-grid{
  margin-top: 40px;
}
.pf-header-profile {
  position: relative;
}
.profile-profile-flot{ animation: bounceAnimation 3s ease-in-out infinite;display: inline; position: absolute;width: var(--profile-img-width);height: var(--profile-img-height);left: inherit;right: 40px;}
.image-skills {
  background: var(--primary-color);
  color: var(--box-color);
  font-size: 20px;
  border-radius: 50px;
  padding: 5px 20px;
  position: absolute;
  top: 23%;
  left: 13%;
  font-weight: 600;
}
.image-skills:after {
  content: url(assets/mouse-pointer.svg);
  position: absolute;
  bottom: -30px;
  right: -22px;
}
.web-sk, .ui-sk{background-color: var(--secondary-color);color: var(--primary-color);}
.web-sk:after, .ui-sk:after{display: none;}
.web-sk {
  top: inherit;
  bottom: 30%;
  left: 5%;
}
.web-sk:before, .ui-sk:before {
  content: url(assets/mouse-pointer-yellow.svg);
  position: absolute;
  top: -20px;
  left: -17px;
}
.front-sk {
  top: inherit;
  bottom: 17px;
  left: inherit;
  right: -24px;
}
.front-sk:after {
  position: absolute;
  bottom: 15px;
  right: -35px;
  transform: rotate(289deg);
}
.ui-sk {
  left: inherit;
  right: -10%;
}
.ui-sk:before {
  transform: rotate(275deg);
  top: inherit;
  bottom: -30px;
  left: -10px;
}
@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* About Section */

.pf-about-section{
  background-color: #0A2540;
  padding: var(--section-padding);
}
.pf-about-grid{
  display: grid;
  grid-template-columns: 600px 1fr;
  align-items: center;
  grid-gap: 40px;
}
.pf-h3-title:before {
  content: '';
  display: block;
  width: 30px;
  border-top: 2px solid var(--secondary-color);
  margin-right: 10px;
}
.pf-h3-title {
  justify-content: center;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.pf-h3-title:after {
  content: '';
  display: block;
  width: 30px;
  border-top: 2px solid var(--secondary-color);
  margin-left: 10px;
}
.about-title{
  color: var(--secondary-bg);
  justify-content: flex-start;
  margin-bottom: 0;
}
.about-title::after{display: none;}
.about-desc{color: var(--secondary-bg);}
.about-exp-flex {display: flex;}
.about-experience{margin-right: 40px;}
.exp-count {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}.exp-count-sub {
  margin: 0;
  font-weight: lighter;
  color: var(--secondary-bg);
  font-size: 0.9rem;
}
.pf-about-section .ghost-cta{
  color: var(--secondary-bg);
  border-color: var(--secondary-color);
}
.pf-about-img {
  position: relative;
  text-align: center;
}

.pf-about-img:before {
  content: url(assets/Jenson-Profile-About-lang.svg);
  position: absolute;
  top: -40px;
  left: 90px;
  animation: spinZoom 10s ease-in-out infinite;
}

@keyframes spinZoom {
  0%, 100% {
    transform: var(--spin-trans-zoomin);
  }
  50% {
    transform: var(--spin-trans-zoomout);
  }
}


/* Education & Work */

.pf-education{
  padding: var(--section-padding);
  background-color: var(--secondary-bg);
}

.pf-edu-grid{
  display: grid;
  grid-template-columns: var(--grid-2-col);
  grid-gap: 40px;
}
.education-box, .work-box{
  background-color: var(--box-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.pf-edu-grid h4{
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--hr-color);
  padding-bottom: 15px;
}
.edu-box-title:before{
  content: url(./assets/education.svg);
  margin-right: 15px;
}
.work-box-title:before{
  content: url(./assets/work.svg);
  margin-right: 15px;
}
.pf-edu-grid p{margin: 0;}
.exp-ctn-wrap {
  padding: 10px 0 10px 20px;
  margin-top: 30px;
  border-left: 3px solid var(--hr-color);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}
p.batch-sub-title {
  grid-column: span 2;
}
p.year-title{
  color: #888;
  text-align: right;
}
p.batch-title{
  font-weight: 600;
  font-size: 1.5rem;
  font-family: var(--primary-family);
  margin: 0;
}

/* Services */
.pf-services{
  padding: var(--section-padding);
  background-color: var(--primary-color);
}
.pf-services .pf-h3-title{color: var(--secondary-bg);margin-bottom: 20px;}
.service-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.service-box {
  background: var(--secondary-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(254 254 254 / 40%);
  display: flex;
  flex-direction: column;
}
img.service-icon {
  box-shadow: var(--box-shadow);
  border-radius: 50px;
}
.service-title{
  margin: 10px 0;
  color: var(--primary-text-color);
}
ul.service-desc {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  margin-top: 0;
}
ul.service-desc li{
  margin-bottom: 10px;
}
ul.service-desc li:last-child{margin-bottom: 0;}
.li-icon {
  color: var(--primary-color);
  font-size: .8rem;
  margin-right: 7px;
}

.learn-more-cta{
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0;
  cursor: pointer;
  text-align: left;
}
.learn-more-cta:after{
  content: url(./assets/arrow-icon-yellow.svg);
  margin-left: 5px;
  transition: margin-left 0.3s ease;
}
.learn-more-cta:hover:after{
  margin-left: 10px;
}
.pf-h4-title{
  color: var(--secondary-bg);
  text-align: center;
  font-weight: normal;
}
.pf-h4-title span{font-weight: 600;}

/* Projects */

.pf-latest-projects{
  padding: var(--section-padding);
  background-color: var(--secondary-bg);
}
.pf-latest-projects .pf-h3-title{margin-bottom: 20px;}
.pf-latest-projects .pf-h4-title{color: var(--primary-color);}
.pf-latest-projects .pf-h4-title span{color: var(--secondary-color);font-style: italic;font-weight: normal;}
.pf-progect-grid{
  display: grid;
  grid-template-columns: var(--grid-2-col);
  grid-gap: 30px;
}
.pf-project-box {
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-sizing: var(--box-shadow);
  display: flex;
  flex-direction: column;
}
.platform-flex {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
p.platform-title {
  margin: 0;
  background: var(--secondary-color);
  padding: 5px 15px;
  border-radius: 50px;
  font-size: .9rem;
  font-weight: 600;
}
.project-title{text-align: left;    flex-grow: 1;}
.project-title span {font-weight: normal;}
.project-cta{
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
}
.project-cta{
  font-size: 1.2rem;
  font-weight: 600;
}
.project-cta a::before{
  content: url(assets/behance-logo.svg);
  line-height: 0;
}
.project-cta a {
  display: flex;
  gap: 10px;
  padding: 8px 20px 8px 8px;
  background: var(--primary-color);
  border-radius: 50px;
  color: #fff;
  border: 1px solid var(--primary-color);
}
.project-cta a.live-cta::before{
  content: url(assets/live-url.svg);
}
.project-cta a.live-cta{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color);
}
.view-more-cta .learn-more-cta{
  margin: auto;
}
.view-more-cta {
  text-align: center;
  margin-top: 40px;
}
.view-more-cta .learn-more-cta{
  background-color: var(--primary-color);
}
.view-more-cta .learn-more-cta {
  background-color: var(--primary-color);
  font-size: 1.2rem;
  color: #fff;
  padding: 5px 20px 5px 5px;
  display: inline-flex;
  border-radius: 50px;
}
.view-more-cta .learn-more-cta::before{
  content: url(assets/view-more-behance.svg);
  line-height: 0;
  margin-right: 10px;
}

/* Skills */
.pf-skills{
  padding: var(--section-padding);
  background-color: var(--primary-color);
}
.pf-skills .pf-h3-title{color: var(--secondary-bg);}
.pf-skills .platform-flex{margin-bottom: 0;}
.pf-roles  .pf-h3-title{margin-top: 40px;}

/* Footer */
.pf-footer{background-color: var(--box-color);padding: 20px 0 10px;}
.pf-footer-grid{display: grid;grid-template-columns: repeat(2,auto);}
.footer-copyright{color: var(--primary-text-color);font-size: 1rem;}
.footer-copyright span{color: var(--primary-color);font-weight: 600;}
.footer-powerby {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-powerby span {
  color: #01c3e1;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}
.footer-powerby span:before {
  content: url(/jenson-portfolio/src/assets/footer-react.svg);
  line-height: 0;
  margin-left: 7px;
  margin-right: 5px;
}

/* Responsive Design */

@media (max-width: 1440px){
  .pf-head-grid{grid-template-columns: var(--grid-2-col);grid-gap: 10px;}
  .pf-about-grid{grid-template-columns: var(--grid-2-col);    grid-gap: 10px;}
  img.project-thumbnail{width: 100%;height: auto;}
}
@media (max-width: 1300px){
  .hero-cta-grid {margin-top: 10px;}
}
@media (max-width: 1199px){
  :root{
    --spin-trans-zoomin: rotate(0deg) scale(0.8);
    --spin-trans-zoomout: rotate(180deg) scale(1);
  }
  .hero-cta-grid {margin-top: 10px;}
  img.pf-profile-img{width: 100%;height: auto;}
  .profile-profile-flot{width: 475px;height: 411px;right: 50px;}
  .pf-about-img:before{left: 20px;}
}
@media (max-width: 991px){
  :root{
    --grid-2-col: 1fr;
  }
  .pf-services .service-box-grid ,.pf-skills .service-box-grid {grid-template-columns: repeat(2,1fr);}
  .pf-head-cnt{order: 2;}
  .portfolio-hero{height: auto;}
  img.pf-profile-img{width: var(--profile-img-width);height: var(--profile-img-height);}
  .pf-header-profile{text-align: center;}
  .profile-profile-flot {width: var(--profile-img-width);height: var(--profile-img-height);right: 120px;}
  .greeting-msg{margin-top: 0;}
  .portfolio-hero{padding: var(--section-padding);}
  .pf-about-img:before { left: 140px;}
  .about-title{margin-bottom: 40px;}
  .hero-cta-grid {margin-top: 50px;}
  .service-box-grid{grid-template-columns: var(--grid-2-col);}
  .service-box-grid div:last-child:nth-child(odd){grid-column: span 2;}
  .pf-head-grid{margin-top:70px;}
}
@media (max-width: 767px){
  .profile-profile-flot{right: 40px;}
  .hero-cta-grid {margin-top: 20px;}
  .pf-about-img:before {left: 50px;}
  .service-box{grid-column: span 2;}
  dialog.contact-dialog{width: 50%;}
}
@media (max-width: 675px){
  :root{
    --spin-trans-zoomin: rotate(0deg) scale(0.7);
    --spin-trans-zoomout: rotate(180deg) scale(0.8);
  }
  img.pf-profile-img,img.about-profile-img {
    width: 100%;
    height: auto;
}
.profile-profile-flot {
  right: 60px;
  bottom: 50px;
  width: 90%;
  height: 80%;
} 
.pf-about-img:before {
display: none;
}
.pf-footer-grid{
  grid-template-columns: 1fr;
}
.footer-copyright{margin: 0;}
.footer-powerby{margin: 0;justify-content: flex-start;        margin-top: 10px;}
.profile-profile-flot{display: none;}
dialog.contact-dialog{width: 80%;}
}
@media (max-width: 460px){
  :root{    --section-padding: 30px 0;}
  h1{font-size: 2.8rem;    margin-bottom: 10px;}
  .portfolio-hero h2 { line-height: 2.3rem;}
  .work-box p.batch-title{grid-column: span 2;}
  .work-box p.year-title{order: 3;}
  .work-box p.batch-sub-title {grid-column: inherit;}
  .project-cta{flex-direction: column;}
  .project-cta a{width: fit-content;}
  .hero-cta-grid{grid-template-columns: 1fr;}
}

/* Container */

 .container {
  max-width: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
   .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
   .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
   .container {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
   .container {
    max-width: 1300px;
  }
}
